/*   Farben   */

:root {
    --edp-color-red: rgba(201, 7, 10, 1);
    --edp-color-red-trans: rgba(201, 7, 10, 0.623);
    --edp-color-black: rgba(0, 0, 0, 1);
    --edp-color-white: rgba(255, 255, 255, 1);
    --edp-color-darkgray: rgba(123, 123, 122, 1);
    --edp-color-mgray: rgba(207, 208, 208, 1);
    --edp-color-light-gray: rgba(236, 236, 237, 1);
    --edp-color-green-gray: rgba(145, 161, 155, 1);
    --edp-color-dark-green: rgba(41, 113, 97, 1);
    --edp-color-special-gray: rgba(58, 58, 58, 1);
}


/*    Algemein   */

body {
    padding: 0;
    background-color: var(--edp-color-light-gray);
    /* 	font-family: 'Miriam Libre', sans-serif !important; */
    font-family: 'Roboto', sans-serif !important;
}

main {
    background-color: var(--edp-color-light-gray);
    font-size: 18px;
}

html {
    background-color: var(--edp-color-light-gray);
}

.bgc_grey {
    background-color: var(--edp-color-light-gray);
}

.content-box {
    background-color: var(--edp-color-light-gray);
}

.edpLogo {
    opacity: 1;
    transition: opacity 1s ease-in-out;
}

.containerEdpLogoBig.fade {
    opacity: 0;
}

.edpLogo.fade {
    opacity: 0;
}

.registration {
    margin-top: 50px;
    padding: 30px;
}

.containerEdpLogoBig {
    padding: 5px 0px;
    max-width: 100%;
    opacity: 1;
    transition: opacity 1s ease-in-out;
}

.txtUl {
    font-size: 10px;
}

.footerATag {
    color: #fff !important;
    font-weight: 400;
}

.help-block {
    color: var(--edp-color-red);
}

a {
    font-weight: bold;
    color: var(--edp-color-red) !important;
}

.edpRed {
    color: var(--edp-color-red);
}

.clearBoth {
    clear: both;
}

.fowBoldDispInline {
    font-weight: bold;
    display: inline;
}

.edpRedWeig {
    color: var(--edp-color-red);
    font-weight: bold;
}

.edpRedWeigDispNone {
    color: var(--edp-color-red);
    font-weight: bold;
    display: none;
}

.weigNormal {
    font-weight: normal;
}

.pad20 {
    padding: 20px;
}

.fs-nav {
    font-size: 18px;
}

.head-clr {
    background-color: var(--edp-color-special-gray);
    border-bottom: none;
    border-radius: unset;
}

.edpwhite {
    background-color: var(--edp-color-white);
}

.bigcontainer {
    max-width: 100%;
    width: 100%;
    box-shadow: 0 10px 6px -6px var(--edp-color-light-gray);
}

.btn-primary {
    background-color: var(--edp-color-red) !important;
    border: none !important;
    color: var(--edp-color-white) !important;
    border-radius: 7px !important;
}

hr {
    border-top: var(--edp-color-black) 1px solid;
}

.edpgreySmall {
    margin-bottom: 0px;
}


/*START -> JQUERY-TABLE (/BESTELLUNGEN)*/

.order-pdf {
    padding-left: 10px !important;
    cursor: unset !important;
}

.order-pdf::after {
    display: none !important;
}

table.dataTable thead .sorting:after,
table.dataTable thead .sorting_asc:after,
table.dataTable thead .sorting_desc:after,
table.dataTable thead .sorting_asc_disabled:after,
table.dataTable thead .sorting_desc_disabled:after {
    left: 0px !important;
    right: unset !important;
}

.table>caption+thead>tr:first-child>td,
.table>caption+thead>tr:first-child>th,
.table>colgroup+thead>tr:first-child>td,
.table>colgroup+thead>tr:first-child>th,
.table>thead:first-child>tr:first-child>td,
.table>thead:first-child>tr:first-child>th {
    /* left: 15px !important; */
    padding-left: 27px;
}

.order-tab-div {
    padding: 5px !important;
}


/* Zugänge */

.zugangBox {
    background-color: var(--edp-color-light-gray);
    min-width: 200px;
    min-height: 100px;
    margin: 10px;
    padding: 10px;
}


/* Masterpage */

@media (min-width: 768px) {
    .bestellung {
        border-right: solid var(--edp-color-white) 15px;
    }
}

.abocoll {
    border: 0px;
}

.navbar {
    margin-bottom: 0px;
}

.navbar-nav>li>a:hover,
.navbar-nav>li>a:active,
.navbar-nav>li>a:focus {
    background-color: transparent;
}

.line-height-7 {
    line-height: 1.7;
}

.icon-bar {
    background-color: var(--edp-color-white) !important;
}

.fosi14 {
    font-size: 14px;
}

.edgeRight {
    padding-right: 13px;
}

.txtUl {
    margin-left: 20px;
}

.btnPWEye {
    padding: 4px 11px !important;
    font-size: 16px !important;
}

.footerLogo {
    height: 120px;
    width: 110px;
    margin-left: 50px;
}

.homeLogo {
    height: 60px;
    width: 50px;
    margin-left: 10px;
}

.colorgray {
    z-index: -333;
    background-color: var(--edp-color-special-gray);
}

.marg190zIdxM400 {
    margin: 190px;
    z-index: -400;
}

.zIndexBorNone {
    z-index: 10000;
    border: none;
}

.zIndex7777 {
    z-index: 7777;
}

.height54 {
    height: 54px;
}

.height50 {
    height: 50px;
}

.margBot50 {
    margin-bottom: 50px;
}

.backCWhiteCoBlack {
    background-color: white;
    color: black
}

.width100Pro {
    width: 100%
}

.colGrayCurPoint {
    color: gray;
    cursor: pointer;
}

.fs-innernav {
    font-size: 16px;
    margin-top: 5px;
}

.fs-30 {
    font-size: 25px;
    margin-top: 5px;
}

.border-grey {
    border-left: 4px solid var(--edp-color-special-gray);
    border-right: 4px solid var(--edp-color-special-gray);
}

.ContentContainer {
    max-width: 1350px;
    margin: 0 auto;
}

.text-black {
    color: var(--edp-color-black);
}

.dark {
    color: var(--edp-color-white);
    background-color: var(--edp-color-special-gray);
}

.nav-mobile {
    background-color: var(--edp-color-darkgray) 1px;
}

.closeSearchNav {
    margin-top: 20px;
    font-size: 21px;
    opacity: .2;
    font-weight: 700;
    float: left;
}

.shop-btn {
    width: 100%;
    margin: 10px 0px 10px 0px;
}

.warenkorb-anzahl {
    position: absolute;
    top: 2px;
    right: 2px;
}

.anzahl-nummer {
    float: right;
    padding: 1px 8px;
    background-color: var(--edp-color-white);
    border: 1px solid var(--edp-color-mgray);
    border-radius: 50px;
    font-size: 16px;
}


/* .footer {
	padding: 30px 0px;
} */


/* .footerInfo{
	padding-bottom: 30px;
} */

.footerInfoStart {
    padding-top: 20px;
}

.spacer {
    padding-top: 15px;
    max-width: 1350px;
    margin: 0 auto;
}

.smallSpacer {
    padding-top: 40px;
    color: var(--edp-color-red);
    max-width: 1350px;
    margin: 0 auto;
}

.mobSpacer {
    padding-top: 20px;
}

.offertSpacer {
    padding-top: 45px;
}

.miniSpacer {
    padding-top: 10px;
}

.borderTop {
    margin-top: 20px;
}

.smallTitle {
    font-weight: 700;
    font-size: 21px;
}

.hrBorder {
    padding-bottom: 10px;
    border-bottom: 1px solid var(--edp-color-darkgray);
}

.smallSpacerNoCol {
    padding-top: 40px;
    max-width: 1350px;
    margin: 0 auto;
}

.universaltext {
    margin: 25px 0px 0px 15px;
}

@media (min-width: 768px) {
    .navbar-toggle {
        display: block;
    }
}

.imagesHome {
    height: 300px;
    width: 300px;
}

.home-opacity {
    opacity: 0.7;
}

.height-nav {
    height: 64px;
}

.hr-dark hr {
    border-top: var(--edp-color-darkgray) solid 1px;
}

.navbar-default .navbar-toggle {
    border-color: rgba(0, 0, 0, 0) !important;
}

.txt {
    word-break: break-word;
}


/* Progressbar */

.progressbar li.active {
    color: var(--edp-color-red);
}

.progressbar li.active:before {
    border-color: var(--edp-color-red);
    background-color: var(--edp-color-red);
}

.progressbar li.active+li:after {
    background-color: var(--edp-color-red);
}


/*  Artikel  */

.demo-artikel {
    width: 300px;
}

a.hov:hover {
    background-color: var(--edp-color-red) !important;
}

a:hover {
    background-color: transparent !important;
}

.container_img {
    position: relative;
    width: 100%;
}

.Artikel-height {
    min-height: 50px;
}

.container_img:hover .overlay {
    opacity: 1;
}

.container_img:hover .overlayHome {
    opacity: 1;
}

.text_img {
    color: var(--edp-color-white);
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

.btnDark {
    color: var(--edp-color-white);
    background-color: var(--edp-color-red);
    border-color: var(--edp-color-black);
}

.btnDark:hover {
    color: var(--edp-color-white);
    background-color: var(--edp-color-red-trans);
    border-color: var(--edp-color-black);
}

.btnDark:focus,
.btnDark.focus {
    box-shadow: 0 0 0 0.2rem var(--edp-color-darkgray);
}

.btnDark.disabled,
.btnDark:disabled {
    color: var(--edp-color-white);
    background-color: var(--edp-color-darkgray);
    border-color: var(--edp-color-black);
}

.btnDark:not(:disabled):not(.disabled):active:focus,
.btnDark:not(:disabled):not(.disabled).active:focus,
.show>.btnDark.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem var(--edp-color-darkgray);
}

.button-responsive {
    width: 260px;
    margin: 0 auto;
    font-size: 18px !important;
    height: 40px;
}

.buttonResponsWarenkorb {
    width: 260px;
    margin: 0 auto;
    height: 60px;
}

.artTitel {
    margin-left: 15px;
}

.artikel-titel {
    height: 53px;
}

.smallTxt {
    font-size: 10px;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 87%;
    margin: 0 auto !important;
    opacity: 0;
    transition: .5s ease;
    background-color: var(--edp-color-red-trans);
}

.overlayHome {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 95%;
    opacity: 0;
    transition: .5s ease;
    background-color: var(--edp-color-red-trans);
}

.artikel-titel {
    color: var(--edp-color-red);
    font-weight: bold;
    margin-bottom: 10px;
}

.visible-next-prev {
    display: none;
}

@media (max-width: 840px) {
    .visible-next-prev {
        display: block;
    }
    .form-horizontal {
        padding-left: 10px;
        margin-right: 10px !important;
    }
}

.margin-next-prev {
    margin-top: 270px;
}

.home-box {
    height: 655px;
    width: 300px;
    margin: 0 auto;
}

@media (min-width: 1230px) {
    .home-box {
        width: 400px;
    }
    .centerText {
        margin-left: 120px
    }
}

.carousel-inner {
    width: auto !important;
}


/*      Dropdown-Color        */

.dropdown-content a:hover {
    background-color: var(--edp-color-light-gray);
}

.dropdown-content {
    background-color: var(--edp-color-light-gray);
}


/*        Collabsible       */

.collapsible_footer {
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border-left: 0px;
    border-right: 0px;
}

.coll-content {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: var(--edp-color-white);
}

.collaps_help {
    margin: 10px 0px;
}

.collaps_help:hover {
    color: var(--edp-color-red);
}


/*Mob-Nav /*
/* Icon 3*/

.animated-icon2 span:nth-child(1) {
    top: 0px;
}

.animated-icon2 span:nth-child(2),
.animated-icon2 span:nth-child(3) {
    top: 10px;
}

.animated-icon2 span:nth-child(4) {
    top: 20px;
}

.animated-icon2.open span:nth-child(1) {
    top: 11px;
    width: 0%;
    left: 50%;
}

.animated-icon2.open span:nth-child(2) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

.animated-icon2.open span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.animated-icon2.open span:nth-child(4) {
    top: 11px;
    width: 0%;
    left: 50%;
}


/* START: Style aus der Benutzerkonto_Abo_kuenden datei */

.funkyradio {
    color: var(--edp-color-red);
    background-color: var(--edp-color-white);
}

.funkyradio div {
    clear: both;
    overflow: hidden;
}

.funkyradio label {
    width: 100%;
    border-radius: 3px;
    border: 1px solid var(--edp-color-darkgray);
    font-weight: normal;
}

.funkyradio input[type="radio"]:empty,
.funkyradio input[type="checkbox"]:empty {
    display: none;
}

.funkyradio input[type="radio"]:empty~label,
.funkyradio input[type="checkbox"]:empty~label {
    position: relative;
    line-height: 2.5em;
    text-indent: 3em;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.funkyradio input[type="radio"]:empty~label:before,
.funkyradio input[type="checkbox"]:empty~label:before {
    position: absolute;
    display: block;
    top: 0;
    bottom: 0;
    left: 0;
    content: '';
    width: 2.5em;
    background: var(--edp-color-darkgray);
    border-radius: 3px 0 0 3px;
}

.funkyradio input[type="radio"]:hover:not(:checked)~label,
.funkyradio input[type="checkbox"]:hover:not(:checked)~label {
    color: var(--edp-color-darkgray);
}

.funkyradio input[type="radio"]:hover:not(:checked)~label:before,
.funkyradio input[type="checkbox"]:hover:not(:checked)~label:before {
    content: '\2714';
    text-indent: .9em;
    color: var(--edp-color-mgray);
}

.funkyradio input[type="radio"]:checked~label,
.funkyradio input[type="checkbox"]:checked~label {
    color: var(--edp-color-darkgray);
}

.funkyradio input[type="radio"]:checked~label:before,
.funkyradio input[type="checkbox"]:checked~label:before {
    content: '\2714';
    text-indent: .9em;
    color: var(--edp-color-black);
    background-color: var(--edp-color-light-gray);
}

.checkbox {
    margin: 3px 10px 0px 10px !important;
}

.checkboxAGB {
    margin: 3px 5px 0px 0px !important;
}

.kue_label {
    word-break: break-all !important;
}

@media (max-width: 450px) {
    .coll-content {
        padding: 0 6px !important;
    }
    .kue_label {
        font-size: 16px !important;
    }
}